#kronaview{
    background: #1E90FF;
    height:100vh;
}
#metakronadownload{
    background: #DC143C;
    height:100vh;
}

.display-4{
    position:absolute;
    color: white;
    text-align:center;
    top:40vh;
}

#kronaText{
    left:20vh;
}
#zipText{
    left:15vh;
}

#kronaImg{
    height:10vh;
}

#zipImg{
    height:20vh;
}

.error{
    color:red;
}