html, body{
    background: #f5f5f5;
}


.frontpage  div[class^="col"] {
    border: 1px solid white;
    background: #f5f5f5;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.col-sm-2 {
    height:100vh;
    position:fixed;
    overflow-y:scroll;
    right:0;
}

.col-sm-10 {
    height:100%;
}

.col-sm-8{
    color: white;
}

.errors p {
    color: red;
}

.uploadState {
    color: blue;
}

.fileSize {
    color: blue;
    font-weight: bold;
}

.fileError {
    color: red;
}

.quote {
    font-style: italic;
}