<!--this form will be loaded in separately-->
<p>DISCLAIMER: your output is not saved forever! Be sure to download it after it is finished</p>
<p>Select files to upload: </p>
<form class="form-control-sm file" action="upload" method="post" enctype="multipart/form-data" id="theForm">
    <input id="file" name="file" size="50" multiple="" onchange="GetFileSize()" required=""
           type="file">
    <p class="fileSize" id="fileSizes"></p>
    <p class="fileError" id="fileSizesTooBig"></p>
    <p class="fileError" id="fileExtensionWrong"></p>
    <br>
    <p>A jobname is optional, a random name is generated if no job name is
        submitted.</p>
    <p>If you wish to mail the results to multiple addresses separate each address with
        a comma like so: example1@mymail.com,example2@mymail.com</p>
    <p>The jobname is only used to track the progress of your metaphlan2 to Krona on
        the website, the email will provide a link to your output and the name is disposed.</p>
    <br>
    <p>Job name:</p>
    <input name="jobName" id="jobName" type="text">
    <br>
    <br>
    <p>Email-Address</p>
    <input name="emailAddress" id="emailAddress" required="" type="text">
    <br>
    <br>
    <hr align="left" width="100%">

    <div class="card">
        <div class="card-header" role="tab" id="metaphlanOptionsHeader">
            <h5 class="card-title">
                <a class="collapsed" data-toggle="collapse" href="#metaPhlanOptions"
                   aria-expanded="false">
                    Metaphlan options
                </a>
            </h5>
        </div>
        <div id="metaPhlanOptions" class="collapse" role="tabcard">
            <div class="card-body text-left">
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        (bt2_ps) preset options for bowtie:
                    </p>

                    <fieldset id="bt2_ps_field" name="bt2_ps_field">
                        <input value="sensitive" id="bt2_ps" name="bt2_ps" type="radio"> sensitive<br>
                        <input value="very-sensitive" id="bt2_ps" name="bt2_ps" checked="checked" type="radio">
                        very-sensitive (default)<br>
                        <input value="sensitive-local" id="bt2_ps" name="bt2_ps" type="radio"> sensitive-local<br>
                        <input value="very-sensitive-local" id="bt2_ps" name="bt2_ps" type="radio">
                        very-sensitive-local<br>
                    </fieldset>
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <fieldset id="tax_lev_field" name="tax_lev_field">

                        <p>
                            (tax_lev) taxonomic level for the relative abundance output:
                        </p>
                        <input value="a" id="tax_lev" name="tax_lev" checked="checked" type="radio"> (a) all
                        taxonomic
                        levels (default)<br>
                        <input value="k" id="tax_lev" name="tax_lev" type="radio"> (k) kingdoms (Bacteria
                        and
                        Archaea)
                        only<br>
                        <input value="p" id="tax_lev" name="tax_lev" type="radio"> (p) phyla only<br>
                        <input value="c" id="tax_lev" name="tax_lev" type="radio"> (c) classes only<br>
                        <input value="o" id="tax_lev" name="tax_lev" type="radio"> (o) orders only<br>
                        <input value="f" id="tax_lev" name="tax_lev" type="radio"> (f) families only<br>
                        <input value="g" id="tax_lev" name="tax_lev" type="radio"> (g) genera only<br>
                        <input value="s" id="tax_lev" name="tax_lev" type="radio"> (s) species only<br>
                    </fieldset>
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>(min_cu_len) minimum total nucleotide length for the markers in a
                        clade for estimating the abundance without considering sub-clade
                        abundances:
                    </p>
                    <input name="min_cu_len" id="min_cu_len" placeholder="default: '2000'" type="text">
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>(min_alignment_len) The sam records for aligned reads with the longest subalignment
                        length smaller than this threshold will be discarded.
                    </p>
                    <input name="min_alignment_len" id="min_alignment_len" placeholder=
                            "default: '100' (if using local alignment)" type="text">
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        Ignore organism types
                    </p>
                    <input name="ignore_virusses" id="ignore_virusses" type="checkbox"> ignore virusses<br>
                    <input name="ignore_eukaryotes" id="ignore_eukaryotes" type="checkbox"> ignore
                    eukaryotes<br>
                    <input name="ignore_bacteria" id="ignore_bacteria" type="checkbox"> ignore bacteria<br>
                    <input name="ignore_archaea" id="ignore_archaea" type="checkbox"> ignore archaea<br>
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        (stat_q) quantile value for the robust average:
                    </p>
                    <input name="stat_q" id="stat_q" placeholder="default: '0.1'" type="text">
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        ignore markers file (fasta):
                    </p>
                    <input id="fileMarker" name="fileMarker" size="50" type="file" onchange="GetFileSize()">
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <input name="avoid_disqm" id="avoid_disqm" type="checkbox">
                    (avoid_disqm) Deactive the procedure of disambiguating the quasi-markers
                    based on the marker abundance pattern found in the sample.<br>
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <fieldset id="stat_field" name="stat_field">

                        <p>
                            (stat) Statistical approach for converting marker abundances into clade
                            abundances:
                        </p>
                        <input value="tavg_g" id="stat" name="stat" checked="checked" type="radio"> (tavg_g)
                        truncated clade
                        global average at stat_q quantile (default)<br>
                        <input value="avg_g" id="stat" name="stat" type="radio"> (avg_g) clade global (i.e.
                        normalizing all
                        markers together) average <br>
                        <input value="avg_l" id="stat" name="stat" type="radio"> (avg_l) average of
                        length-normalized marker
                        counts <br>
                        <input value="tavg_l" id="stat" name="stat" type="radio"> (tavg_l) truncated average
                        of
                        length-normalized marker counts (at stat_q)<br>
                        <input value="wavg_g" id="stat" name="stat" type="radio"> (wavg_g) winsorized clade
                        global average
                        (at stat_q)<br>
                        <input value="wavg_l" id="stat" name="stat" type="radio"> (wavg_l) winsorized
                        average of
                        length-normalized marker counts (at stat_q)<br>
                        <input value="med" id="stat" name="stat" type="radio"> (med) median of
                        length-normalized
                        marker
                        counts<br>
                    </fieldset>
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <fieldset id="analysis_type_field" name="analysis_type_field">
                        <p>
                            (t) analysis type:
                        </p>
                        <input value="rel_ab" id="analysis_type" name="analysis_type" checked="checked"
                               type="radio">
                        (rel_ab) profiling metagenomes in terms of relative abundances (default)
                        <br>
                        <input value="rel_ab_w_read_stats" id="analysis_type" name="analysis_type"
                               type="radio">
                        (rel_ab_w_read_stats) profiling metagenomes in terms of relative abundances and
                        estimate the number of reads coming from each clade
                        <br>
                        <input value="reads_map" id="analysis_type" name="analysis_type" type="radio">
                        (reads_map) mapping from reads to clade (only reads hitting a marker)
                        <br>
                        <input value="clade_profiles" id="analysis_type" name="analysis_type" type="radio">
                        (clade_profiles) normalized marker counts for clades with at least a non-null marker
                        <br>
                        <input value="marker_ab_table" id="analysis_type" name="analysis_type" type="radio">
                        (marker_ab_table) normalized marker counts (only when &gt; 0.0 and normalized by
                        metagenome size if
                        nreads is specified)
                        <br>
                        <input value="marker_pres_table" id="analysis_type" name="analysis_type"
                               type="radio">
                        (marker_pres_table) list of markers present in the sample (threshold at 1.0 if not
                        differently
                        specified with pres_th)
                        <br>
                        <input value="clade_specific_strain_tracker" id="analysis_type" name="analysis_type"
                               type="radio">
                        (clade_specific_strain_tracker) characterizing organisms at the strain level.
                        <br>
                    </fieldset>
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        (nreads) no. reads in the original metagenome, ignored if marker_ab_table is not the
                        analysis type:
                    </p>
                    <input name="nreads" id="nreads" placeholder="example: 5" type="text">
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        (pres_th) presence threshold (ignored if marker_pres_table is not the analysis
                        type):
                    </p>
                    <input name="pres_th" id="pres_th" placeholder="example: 10" type="text">
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        (clade) The clade for the clade_specific_strain_tracker:
                    </p>
                    <input name="clade" id="clade" placeholder="example: bacteria_e_coli" type="text">
                </div>
                <br>
                <div class="col-sm-8 text-left bg-dark">
                    <p>
                        (min_ab) the minimum percentage abundance for the clade in the
                        clade_specific_strain_tracker:
                    </p>
                    <input name="min_ab" id="min_ab" placeholder="example: 1.0" type="text"><br>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <input value="Submit inputs" type="submit">
</form>