<div class="container-fluid" onmouseover="setLinks()">
    <div class="row">
        <!--hrefs contain nothing yet, javascript will handle this.-->
        <div class="col-sm-6" id="kronaview">
            <a id="kronaResults" href="#">
                <h1 class="display-4 text-sm-center" id="kronaText">View Krona results</h1>
            </a>
            <img src="images/krona.png" class="img-fluid" id="kronaImg">
        </div>
        <div class="col-sm-6" id="metakronadownload">
            <a id="zipResults" href="#">
                <h1 class="display-4 text-sm-center" id="zipText">Download the results in a zip</h1>
            </a>
            <img src="images/zip.png" class="img-fluid" id="zipImg">
        </div>
    </div>
</div>